.agendaSectionWrapper {
    position: relative;
}

.agendaSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

.flowersSvg {
    position: absolute;
    bottom: 0px;
    left: -100px;
    width: 300px;
    height: 300px;
}


.agendaTitle[data-lang="en"] {
    font-family: 'Tan Mon Cheri', sans-serif;
    font-size: 40px;

}

.agendaTitle[data-lang="ru"] {
    font-family: 'Playfair Display', serif;
    font-size: 40px;

}

.agendaTitle[data-lang="ua"] {
    font-family: 'Playfair Display', serif;
    font-size: 40px;

}

.agendaTitle {
    font-weight: 500;
    color: #ff914d;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

.agendaContainer {
    max-width: 600px;
    transform: translateX(180px);
    margin-bottom: 100px;
    height: 650px;

}

.timeline {
    position: absolute;
    width: 1px;
    background: linear-gradient(to top, rgba(45, 74, 105, 0) 0%, #2d4a69 50%, rgba(45, 74, 105, 0) 100%);
    height: 100%;

}

.agendaItem {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
    padding-top: 50px;

}

.agendaIcon {
    width: 30px;
    height: 30px;
    position: absolute;
    left: -200px;
    top: 50%;
    transform: translateY(-50%);

}

.agendaSvg {
    width: 50px;
    height: 50px;
    fill: #2d4a69;
}

.agendaTime {
    font-size: 26px;
    margin-right: 20px;
    position: absolute;
    left: -120px;
    top: 65%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.dot {
    position: absolute;
    left: -5px;
    top: 65%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-color: #2d4a69;
    border-radius: 50%;
}

.agendaDescription {
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-height: 100%;
    font-style: italic;

}

.agendaDescriptionTitle {
    margin-left: 10px;
    margin-bottom: 5px;
    max-width: 600px;
    line-height: 1.5;
    font-size: 26px;
    font-weight: 500;
    font-style: italic;
    color: #ff914d;
    text-transform: uppercase;
}

.agendaDescriptionText {
    font-size: 20px;
    margin-left: 10px;
}


@media (max-width: 900px) {
    .flowersSvg {
        display: none;
    }

    .agendaTitle[data-lang="en"] {
        font-family: 'Tan Mon Cheri', sans-serif;
        font-size: 24px;


    }

    .agendaTitle[data-lang="ru"] {
        font-family: 'Playfair Display', serif;
        font-size: 30px;

    }

    .agendaTitle[data-lang="ua"] {
        font-family: 'Playfair Display', serif;
        font-size: 30px;

    }

    .agendaTitle {
        font-size: 30px;
    }

    .agendaContainer {
        max-width: 100%;
        transform: translateX(0);
        margin-bottom: 60px;
    }

    .agendaItem {
        padding-top: 30px;
    }

    .agendaIcon {
        left: -150px;
    }

    .agendaTime {
        font-size: 22px;
        left: -100px;
    }

    .dot {
        left: -3.5px;
    }

    .agendaDescription {
        margin-left: 40px;

    }

    .agendaDescriptionTitle {
        font-size: 24px;
    }

    .agendaDescriptionText {
        font-size: 20px;
    }

    .timeline {
        left: 30px;
    }

    .agendaSvg {
        width: 20px;
        height: 20px;
    }

    .agendaTime {
        font-size: 14px;
        left: -10px;
        bottom: 0px;
    }

    .dot {
        left: 26px;
        width: 8px;
        height: 8px;
    }
}

@media (max-width: 600px) {

    .agendaContainer {
        max-width: 100%;
        transform: translateX(0);
        margin-bottom: 60px;
        height: auto;
    }

    .agendaItem {
        padding-top: 20px;
        padding-left: 20px;
    }

    .agendaIcon {
        left: -120px;
    }

    .agendaSvg {
        width: 20px;
        height: 20px;
    }

    .agendaTime {
        font-size: 14px;
        left: -10px;
        bottom: 0px;
    }

    .dot {
        left: 26px;
        width: 8px;
        height: 8px;
    }

    .agendaDescription {
        margin-left: 20px;
    }

    .agendaDescriptionTitle {
        font-size: 24px;
    }

    .agendaDescriptionText {
        font-size: 18px;
    }
}