
.confirmationSectionContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1400px;
  margin: auto;
  position: relative;
  margin-bottom: 60px;
  overflow: visible;
}

.confirmationSection {
  background-image: url('../../../assets/images/noroot.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  max-width: 550px;
  height: 300px;
  background-color: rgba(255, 165, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 300px;
  z-index: 10;
   will-change: transform;

}

.confirmationSection:hover {
  transform: scale(1.5);
  cursor: pointer;
}

.confirmationSection::before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  z-index: 1;
}

.confirmationSection>* {
  position: relative;
  z-index: 2;
}

.confirmationSectionTitle {
  margin-top: 10px;
  text-align: center;
  font-family: 'Tan Mon Cheri';
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
  color: #2d4a69;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.3);

}

.rightForm {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirmationText {
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
  font-size: 22px;

}

.confirmationText p {
  padding-bottom: 10px;
}

.confirmationDescription {
  font-size: 22px;

}

.openModalButton {
  position: absolute;
  height: 60px;
  bottom: 0;
  background-color: rgba(58, 96, 138, 0.5);
  width: 100%;
  color: #fff;
  border: none;
  padding: 30px 30px;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  text-decoration: none;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: background-color 0.3s ease;
  text-align: center;
}

.openModalButton:hover {
  font-size: 18px;
  background-color: rgba(255, 165, 0, 0.6);


}

.rightForm p {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}


.formImage {
  width: 680px;
  height: 850px;
  border-radius: 5px;
  object-fit: cover;

}

@media (max-width: 900px) {
  .confirmationSectionContainer {
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }

  .confirmationSection {
    width: 80%;
    max-width: 450px;
    height: 250px;
    padding: 15px;
    position: static;

  }

  .confirmationSectionTitle {
    font-size: 30px;
  }

  .confirmationText {
    font-size: 18px;
  }

  .rightForm {
    width: 80%;
    margin-top: 20px;
  }

  .confirmationText p {
    font-size: 14px;
  }

  .openModalButton {
    font-size: 16px;
    padding: 10px 20px;
  }

  .formImage {
    width: 400px;
    height: 550px;
  }

  .card {
    width: 250px;
    height: 90px;
  }

  .card__front, .card__back {
    height: 90px;
  }

  .card:hover .card__back {
    transform: rotateY(0deg);
  }

  .card:hover .card__front {
    transform: rotateY(180deg);
  }
}

@media (max-width: 600px) {
  .confirmationSection {
    width: 90%;
    height: 220px;
    padding: 10px;
    position: static;

  }

  .confirmationSectionTitle {
    font-size: 24px;
  }

  .confirmationText {
    font-size: 16px;
  }

  .rightForm {
    width: 0%;
    margin-top: 15px;

  }

  .confirmationText p {
    font-size: 12px;
  }

  .openModalButton {
    font-size: 14px;
    padding: 8px 18px;
  }

  .formImage {
    width: 100vw;
    height: 550px;
  }

  .card {
    width: 220px;
    height: 80px;
  }

  .card__front, .card__back {
    height: 80px;
  }

  .card:hover .card__back {
    transform: rotateY(0deg);
  }

  .card:hover .card__front {
    transform: rotateY(180deg);
  }
}
