.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 15;
}

.closeBtn {
  position: absolute;
  top: 13px;
  right: 5px;
  background-color: transparent;
  color: #3a608a;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.modalContent {
  background-color: #f9f9f4;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  max-height: 50vw;
  overflow-y: auto;
  position: relative;
  
}

.modalTitleSection {
  display: flex;
  justify-content: space-between;
}

.modalTitle {
  max-width: 420px;
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 26px;
  font-weight: 500;
  font-style: italic;
  color: #ff914d;
  text-transform: uppercase;
  text-align: center;
}

.modalSubTitle {
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
  text-align: center;
}

.modalWillComeLabel,
.modalWhatToDrinkTitle,
.modalNeedHelp,
.modalMusicTitle,
.modalNeedPlusOne,
.modalPlusOneNameLabel,
.modalPlusOneAgeLabel {
  font-size: 20px;
  display: block;
  margin-bottom: 10px;
}

.radioGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 25px;

}

.radioOption {
  font-size: 18px;
}

.modalWhatToDrinkNote {
  font-size: 18px;
  margin-top: 25px;
}


/* Основные стили для инпута */
.musicInput {
  width: 100%;
  padding: 12px 10px;
  /* Отступы внутри */
  font-size: 16px;
  /* Размер шрифта */
  background-color: #f9f9f4;
  /* Светлый фон */
  border: 1px solid #3a608a;
  /* Светлая рамка */
  border-radius: 5px;
  /* Скругленные углы */
  transition: all 0.3s ease;
  /* Плавное изменение при фокусе */
  margin-bottom: 25px;

}

.musicInput:focus {
  outline: none;
  border-color: none;
}

.musicInput::placeholder {
  font-size: 14px;
  color: #938686;
  font-style: italic;
  

}

.modalSendButton {
  height: 60px;
  background-color: rgba(58, 96, 138, 0.5);
  width: 100%;
  color: #fff;
  border: none;
  padding: 20px 30px;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  text-decoration: none;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.modalSendButton:hover {
  max-height: 60px;
  font-size: 18px;
  background-color: rgba(255, 165, 0, 0.6);
}
input[type="checkbox"] {
  margin-right: 5px;
  appearance: none;
  width: 20px; 
  height: 20px; 
  border: 1px solid #3a608a;
  border-radius: 4px; 
  background-color: #fff; 
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s; 
}

input[type="checkbox"]:checked {
  background-color:rgba(58, 96, 138, 0.8); 
  border-color: rgba(58, 96, 138, 0.8); 
}

input[type="checkbox"]:checked::after {
  content: '';
  display: block;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  margin-left: 5px;
}

input[type="radio"] {
  margin-right: 5px;
  appearance: none; 
  width: 20px; 
  height: 20px; 
  border: 1px solid #3a608a;
  border-radius: 50%; 
  background-color: #fff; 
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  position: relative; 
}



input[type="radio"]:checked::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 10px; 
  height: 10px; 
  border-radius: 50%; 
  background-color: rgba(58, 96, 138, 0.8); 
}



/* Для экранов меньше 900px */
@media (max-width: 900px) {
  .modalContent {
    max-width: 80%;
    max-height: 80vw;
  }

  .modalTitle {
    font-size: 22px;
    margin-top: 10px;
  }

  .modalSubTitle {
    font-size: 14px;
  }

  .modalWillComeLabel,
  .modalWhatToDrinkTitle,
  .modalNeedHelp,
  .modalMusicTitle,
  .modalNeedPlusOne,
  .modalPlusOneNameLabel,
  .modalPlusOneAgeLabel {
    font-size: 18px;
  }

  .radioOption {
    font-size: 14px;
  }

  .musicInput {
    font-size: 14px;
    padding: 10px 8px;
  }

  .modalSendButton {
    font-size: 14px;
    padding: 14px 18px;
  }

  input[type="checkbox"],
  input[type="radio"] {
    width: 18px;
    height: 18px;
  }

  input[type="checkbox"]:checked::after {
    width: 5px;
    height: 8px;
  }

  input[type="radio"]:checked::after {
    width: 7px;
    height: 7px;
  }

  .closeBtn {
    top: 7px;
    right: 7px;
    padding: 6px 10px;
    font-size: 14px;
  }
}

/* Для экранов меньше 600px */
@media (max-width: 600px) {
  .modalContent {
    max-width: 80%;
    max-height: 80vw;
    height: 100%;
  }

  .modalTitle {
    font-size: 20px;
    margin-top: 8px;
  }

  .modalSubTitle {
    font-size: 12px;
  }

  .modalWillComeLabel,
  .modalWhatToDrinkTitle,
  .modalNeedHelp,
  .modalMusicTitle,
  .modalNeedPlusOne,
  .modalPlusOneNameLabel,
  .modalPlusOneAgeLabel {
    font-size: 16px;
  }

  .radioOption {
    font-size: 12px;
  }

  .musicInput {
    font-size: 12px;
    padding: 8px 6px;
  }

  .modalSendButton {
    font-size: 12px;
    padding: 12px 16px;
  }

  input[type="checkbox"],
  input[type="radio"] {
    width: 16px;
    height: 16px;
  }

  input[type="checkbox"]:checked::after {
    width: 4px;
    height: 7px;
  }

  input[type="radio"]:checked::after {
    width: 6px;
    height: 6px;
  }

  .closeBtn {
    top: 5px;
    right: 5px;
    padding: 4px 8px;
    font-size: 12px;
  }
}