.dresscodeWrapper{
position: relative;
overflow: hidden;
}
.dresscodeSection {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 60px;
}

.dresscodeTitle {
  font-size: 36px;
  font-weight: 500;
  font-style: italic;
  color: #ff914d;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.dresscodeText {
  display: block;
  margin: 0 auto;
  font-size: 24px;
  font-weight: 400;
  font-style: italic;
  max-width: 700px;
  text-align: center;
  word-wrap: break-word;
  line-height: 1.5;
}

.dresscodeTextSpan{
  display: block;
  margin-bottom: 8px;
}
.dresscodeCircleSection {
  margin: auto;
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 60px;
}

.dresscodeCircle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #ededed;
  transition: transform 0.5s ease, opacity 0.4s ease;
}

.dresscodeCircle:hover {
  transform: scale(2);
  opacity: 0;
}
.flowersSvg {
  position: absolute;
  top: -50px; 
  right: -100px; 
  width: 300px; 
  height: 300px; 
}
@media (max-width: 900px) {
  .dresscodeSection {
    padding: 20px;
  }

  .dresscodeTitle {
    font-size: 28px;
  }

  .dresscodeText {
    font-size: 20px;
    max-width: 100%;
  }

  .dresscodeCircleSection {
    margin-top: 40px;
    gap: 10px;
  }

  .dresscodeCircle {
    width: 40px;
    height: 40px;
  }

  .dresscodeCircle:hover {
    transform: scale(1.5);
  }
  .flowersSvg {
    position: absolute;
    top: -70px; 
    right: -120px; 
    width: 200px; 
    height: 300px; 
    z-index: -1;
    overflow: hidden;
  }
}

@media (max-width: 600px) {
  .dresscodeTitle {
    font-size: 30px;
  }

  .dresscodeText {
    font-size: 18px;
  }

  .dresscodeCircleSection {
    margin-top: 30px;
    gap: 8px;
  }

  .dresscodeCircle {
    width: 35px;
    height: 35px;
  }

  .dresscodeCircle:hover {
    transform: scale(1.4);
  }
}