.invitationSection {
    background-color: rgba(45, 74, 105, 1),
    ;
    padding-top: 40px;
    padding-bottom: 80px;
    color: #f9f9f4;
    position: relative;
    overflow: hidden;

}

.invitationSection::before {
    content: '';
    position: absolute;
    top: 0px;
    left: -350px;
    right: -350px;
    bottom: 50px;
    background:
        radial-gradient(circle, rgba(255, 255, 255, 0.2) 10%, rgba(255, 255, 255, 0) 70%) left center,
        radial-gradient(circle, rgba(255, 255, 255, 0.2) 10%, rgba(255, 255, 255, 0) 70%) right center;
    background-size: 500px 500px;
    background-position: left 0%, right 0%;
    background-repeat: no-repeat;
}

.invitationWrap {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.invitationTitle[data-lang="en"] {
    font-family: 'Tan Mon Cheri', sans-serif;
    font-size: 40px;

}

.invitationTitle[data-lang="ru"] {
    font-family: 'Playfair Display', serif;
    font-size: 52px;

}

.invitationTitle[data-lang="ua"] {
    font-family: 'Playfair Display', serif;
    font-size: 52px;

}

.invitationTitle {
    font-weight: 400;
    text-transform: uppercase;
    color: #ff914d;
    text-align: center;
    margin-bottom: 60px;
}

.invitationText {
    margin-top: 20px;
    font-size: 26px;
    font-weight: 400;
    font-style: italic;
    text-align: center;

}

.invitationTextTwo {
    margin-top: 10px;
    font-size: 26px;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    margin-bottom: 60px;
}

.flexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

/* Календарь */
.calendarWrap {
    flex: 1;
    min-width: 300px;
    max-width: 500px;
    text-align: center;
}

.calendarTitle {
    font-size: 24px;
    font-weight: 500;
    color: #ff914d;
    margin-bottom: 30px;
    color: rgba(248, 249, 250, 0.7);
    display: flex;
    align-items: center;
    margin-left: 30px;


}
.calendarTitleSpan {
    color: #f8f9fa;
    font-weight: 700;
    margin-left: 4px;
    font-style: italic;

}
.day {
    font-family: 'Playfair Display', serif;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    width: 40px;
    height: 40px;
    color: rgba(45, 74, 105, 1);
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: center;
    font-weight: normal;
    transition: transform 0.2s;
}

.day:hover {
    transform: scale(1.1);
}

/* Счетчик */
.countdownWrap {
    margin-top: 30px;
    flex: 1;
    min-width: 300px;
    max-width: 500px;
    text-align: center;
    
}

.countdownTitle {
    font-size: 24px;
    font-weight: 500;
    color: rgba(248, 249, 250, 0.7);
    margin-bottom: 30px;
    text-align: start;
    margin-left: 40px;
    display: flex;
    align-items: center;

}
.countdownFirst{
    display: flex;
    justify-content: flex-start;
    margin-left: 30px;
    margin-bottom: 30px;
}
.countdown {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-left: 30px;

}

.timeBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-width: 70px;
    width: 120px;
    
}

.timeValue {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    margin: 10px 16px;
    font-weight: bold;
    color: rgba(45, 74, 105, 1);
}
.timeLabel {
    font-size: 20px;
    font-weight: 700;
    color: rgba(45, 74, 105, 1);
    color: #ff914d;
    text-transform: uppercase;

}

.calendarWrap {
    margin-top: 30px;
    text-align: center;
}
.miniDivider{
    width: 70%;
    height: 1px;
    background: rgba(45, 74, 105, 1);
    margin: 0 auto;
    margin-bottom: 10px;
}

.calendar {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    max-width: 450px;
    margin: 0 auto;
}

.calendarDates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    max-width: 450px;
    margin: 0 auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px;
    background-color: #f9f9f9;
}

.day {
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    width: 40px;
    height: 40px;
    color: rgba(45, 74, 105, 1);
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: center;
    padding-bottom: 30px;
    font-weight: normal;
    transition: transform 0.2s;
}

.day:hover {
    transform: scale(1.1);
}

.dayName {
    font-weight: bold;
    color: rgba(45, 74, 105, 1);

}

.monday {
    color: #ff914d;

}

.highlightedDay {
    background-color: #ff914d;
    color: rgba(45, 74, 105, 1);
    transform: scale(1.2);
    font-weight: bold;
    border: 1px solid #ff914d;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.divider {
    width: 70vw;
    height: 1px;
    background: linear-gradient(to right, transparent 0%, #f8f9fa 25%, #f8f9fa 75%, transparent 100%);
    margin: 0 auto;
    margin-bottom: 60px;
}

.svg {
    margin-right: 10px;
    width: 20px;
    height: 20px;

}

@media (max-width: 900px) {
    .invitationTitle[data-lang="en"] {
        font-family: 'Tan Mon Cheri', sans-serif;
        font-size: 30px;

    }

    .invitationTitle[data-lang="ru"] {
        font-family: 'Playfair Display', serif;
        font-size: 30px;

    }

    .invitationTitle[data-lang="ua"] {
        font-family: 'Playfair Display', serif;
        font-size: 30px;

    }

    .invitationTitle {
        font-size: 24px;
        text-align: center;
    }

    .invitationText,
    .invitationMessage,
    .invitationTextTwo {
        font-size: 22px;
        text-align: center;
    }

    .invitationSubText {
        font-size: 0.9rem;
        text-align: center;
    }
.calendarTitle{
    justify-content: center;
    margin-left: 0px;


}
    .countdownTitle {
        font-size: 1.5rem;
        text-align: center;
        margin-left: 0px;
        justify-content: center;
    }

    .countdown {
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 0px;
    }

    .timeBlock {
        min-width: 60px;
        width: 70px;
        padding: 8px;
        font-size: 12px;
    }

    .timeValue {
        font-size: 30px;
        margin: 8px 12px;
    }

    .timeLabel {
        font-size: 12px;
    }

    .calendarWrap {
        margin-top: 20px;
        margin-bottom: 40px;
    }
.svg{
    width: 15px;
    height: 15px;
}
    .calendarTitle,
    .countdownTitle{
        font-size: 18px;

    }

    .calendar {
        max-width: 300px;
        margin: 0 auto;
        padding: 15px;
        gap: 8px;
    }

    .calendarDates {
        max-width: 300px;
        margin: 0 auto;
        padding: 15px;
    }

    .day {
        width: 30px;
        height: 30px;
        font-size: 14px;
        padding: 6px;
        transition: transform 0.2s ease-in-out;
    }

    .day:hover {
        transform: scale(1.1);
    }

    .highlightedDay {
        transform: scale(1.1);
        font-weight: bold;
        background-color: #ff914d;
        color: #fff;
        border: 1px solid #ff914d;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .invitationWrap {
        padding: 0 15px;
    }

    .flexContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        align-items: center;
        margin-bottom: 40px;
    }
}