.invitationSection {
    background: linear-gradient(to bottom,
            rgba(45, 74, 105, 1),
            #f9f9f4);
    padding-top: 40px;
    padding-bottom: 80px;
    color: #f9f9f4;
}

.invitationWrap {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.invitationTitle {
    font-family: 'Tan Mon Cheri';
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ff914d;
    text-align: center;
}

.invitationText {
    margin-top: 20px;
    font-size: 26px;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    
}
.invitationTextTwo{
    margin-top: 10px;
    font-size: 26px;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    margin-bottom: 60px;
}

.flexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* Календарь */
.calendarWrap {
    flex: 1;
    min-width: 300px;
    max-width: 500px;
    text-align: center;
}

.calendarTitle {
    font-size: 24px;
    font-weight: 500;
    font-style: italic;
    color: #ff914d;
    margin-bottom: 20px;

}

.calendar {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.day {
    font-style: italic;

    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    width: 40px;
    height: 40px;
    color: rgba(45, 74, 105, 1);
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: center;
    font-weight: normal;
    transition: transform 0.2s;
}

.day:hover {
    transform: scale(1.1);
}

.highlightedDay {
    background-color: #ff914d;
    color: #fff;
    transform: scale(1.2);
    font-weight: bold;
    border: 1px solid #ff914d;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Счетчик */
.countdownWrap {
    flex: 1;
    min-width: 300px;
    max-width: 500px;
    text-align: center;
}

.countdownTitle {
    font-size: 30px;
    font-weight: 500;
    font-style: italic;
    color: rgba(45, 74, 105, 1);
    margin-bottom: 20px;
}

.countdown {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.timeBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-width: 70px;
    width: 90px;
}

.timeValue {
    font-size: 40px;
    margin: 10px 16px;
    font-weight: bold;
    color: rgba(45, 74, 105, 1);
    font-style: italic;
    ;
}

.timeLabel {
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
    color: rgba(45, 74, 105, 1);
}

/* Календарь */
.calendarWrap {
    margin-top: 30px;
    text-align: center;
}

.calendarTitle {
    font-size: 1.8rem;
    color: rgba(45, 74, 105, 1);
    margin-bottom: 20px;
}

.calendar {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    max-width: 450px;
    margin: 0 auto;
}

.day {
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    width: 40px;
    height: 40px;
    color: rgba(45, 74, 105, 1);
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: center;
    font-weight: normal;
    transition: transform 0.2s;
}

.day:hover {
    transform: scale(1.1);
}

.highlightedDay {
    background-color: #ff914d;
    color: #fff;
    transform: scale(1.2);
    font-weight: bold;
    border: 1px solid #ff914d;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


@media (max-width: 900px) {
    .invitationTitle {
        font-size: 24px; 
        text-align: center;
    }

    .invitationText, 
    .invitationMessage,
    .invitationTextTwo {
        font-size: 18px; 
        text-align: center;
    }

    .invitationSubText {
        font-size: 0.9rem;
        text-align: center;
    }

    .countdownTitle {
        font-size: 1.5rem;
    }

    .countdown {
        gap: 15px; 
        flex-wrap: wrap;
        justify-content: center;
    }

    .timeBlock {
        min-width: 60px; 
        width: 70px;
        padding: 8px;
        font-size: 12px; 
    }

    .timeValue {
        font-size: 30px; 
        margin: 8px 12px;
    }

    .timeLabel {
        font-size: 14px; 
    }

    .calendarWrap {
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .calendarTitle {
        font-size: 1.5rem;
    }

    .calendar {
        max-width: 300px; 
        margin: 0 auto;
        padding: 15px;
        gap: 8px;
    }

    .day {
        width: 30px; 
        height: 30px; 
        font-size: 14px; 
        padding: 6px;
        transition: transform 0.2s ease-in-out;
    }

    .day:hover {
        transform: scale(1.1);
    }

    .highlightedDay {
        transform: scale(1.1);
        font-weight: bold;
        background-color: #ff914d;
        color: #fff;
        border: 1px solid #ff914d;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .invitationWrap {
        padding: 0 15px; 
    }

    .flexContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px; 
        align-items: center;
        margin-bottom: 40px;
    }
}
