.footer{
  position: relative;

}
.footerSection{
padding-top: 60px;
padding-bottom: 60px;
}

.footerFlowers {
    position: absolute;
    bottom: -100px; 
    right: 0;
    width: 100vw; 
    z-index: -1;
    height: auto; 
}
.Logo_rounded {
    display: block;
    margin: 100px auto;
    width: 150px;
    height: 150px;
    margin-bottom: 50px;
    border-radius: 50%;
 }
 
 .happyToSeeYou[data-lang="en"] {
  font-family: 'Tan Mon Cheri', sans-serif;
  font-size: 40px;

}

.happyToSeeYou[data-lang="ru"] {
  font-family: 'Playfair Display', serif;
  font-size: 40px;

}

.happyToSeeYou[data-lang="ua"] {
  font-family: 'Playfair Display', serif;
  font-size: 40px;

}
 .happyToSeeYou {
    margin-bottom: 60px;
    margin-top: 20px;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
 }
 .happyToSeeYouText{
   display: block;
   margin: auto;
   max-width: 800px;
   font-size: 24px;
   font-weight: 400; 
   font-style: italic;
   text-align: center;

 }

 @media (max-width: 900px) {

  .happyToSeeYou[data-lang="en"] {
    font-family: 'Tan Mon Cheri', sans-serif;
    font-size: 30px;
  
  }
  
  .happyToSeeYou[data-lang="ru"] {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
  
  }
  
  .happyToSeeYou[data-lang="ua"] {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
   
  }
  .footerFlowers {
    position: absolute;
    bottom: 0px; 
    right: 0;
    width: 100vw; 
    z-index: -1;
    height: auto; 
}
   .footerSection {
    width: 90vw;
    margin: auto;

     padding-top: 40px;
     padding-bottom: 40px;
   }
 
   .Logo_rounded {
     width: 120px;
     height: 120px;
     margin-bottom: 40px;
   }
 
   .happyToSeeYou {
     font-size: 30px;
     margin-bottom: 65px;
     margin-top: 0;

   }
 
   .happyToSeeYouText {
     font-size: 16px;
     max-width: 600px;
   }
 }
 
 @media (max-width: 600px) {
   .footerSection {
    width: 90vw;
     margin: auto;
     padding-top: 30px;
     padding-bottom: 30px;
   }
 
   .Logo_rounded {
     width: 100px;
     height: 100px;
     margin-bottom: 30px;
   }
 
   .happyToSeeYou {
     font-size: 24px;
     margin-bottom: 60px;
     margin-top: 0;
   }
 
   .happyToSeeYouText {
     font-size: 18px;
     max-width: 300px;
   }
 }
 