
.header {
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  width: 100;
  z-index: 20;
  transition: backdrop-filter 0.3s ease;
}
.navItemsHidden{
  display: none;
}
.headerSection {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  width: 100%;
  margin: auto;
  padding: 20px 40px;

}

.navItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out; 

}

.activeLink{
  font-weight: bold;
  border-bottom: 1px solid #f78a1d;
}
.navItem {
  font-size: 20px;
  font-weight: 600;
  font-style: italic;
  text-decoration: none;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  color: #f78a1d;
  text-transform: uppercase;
}
.Logo_rounded{
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
}

@media (max-width: 900px) {
  .headerSection {
    max-width: 900px;
    width: 100vw;
    padding: 10px 20px;
  }

  .navItems {
   display: none;
  }
  .navItemsHidden{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .Logo_rounded {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 600px) {
  .headerSection {
    max-width: 600px;
    width: 100vw;
    padding: 10px 20px;
  }
  .navItems {
    display: none;
   }
.navItemsHidden{
  display: flex;
  justify-content: space-between;
  align-items: center;}
  .Logo_rounded {
    width: 50px;
    height: 50px;
  }
}